[2016-01-07 13:32] kordano opened #1 "Illegal Argument Exception on assoc-in"
The following code throws an `IllegalArgumentException`:

[code]

Even though the following returns the correct value

[code]

[2016-01-07 14:24] whilo commented on #1
Fixed.

[2016-01-07 14:24] #1 closed

[2016-11-18 10:05] whilo opened #2 "Support dissoc"
Associng a key with `nil` atm. removes it from the store, but this is not semantically consistent with the Clojure(Script) dictionaries and should be separated.

[2016-12-29 15:18] danielsz opened #3 "API design"
This is a question rather than an issue.

I was wondering about the design decision to make the `core.async` explicit rather than implicit in the API.

What are we gaining by writing this:

[code]
Instead of:

[code]
Assuming that the latter would do the `core.async` calls internally.

BTW, I am asking this question naively, without having studied the source code.

[2016-12-29 16:26] whilo commented on #3
One of the main purposes is to be compatible with ClojureScript so that one can write platform-neutral code. Blocking IO is not available on JavaScript, so we use `core.async` in the first place to allow writing sequential code everywhere. I guess that if you are interested in Clojure support only, you might think that this is redundant code.

Note though that this has a useful sideeffect as well,

[2016-12-29 18:22] danielsz commented on #3
Ah, yes, I see. Thank you for the explanation. It makes sense.

I will get back to you after accumulating some mileage with `konserve` as to whether or not I think a sparser notation would be beneficial in the context of pure Clojure (blocking I/O).

[2016-12-29 22:23] whilo commented on #3
Ok, sure. But by this convenience you lose the portability of your storage IO code, just to repeat :).

[2016-12-30 13:55] whilo commented on #3
Maybe this does not seem important, but most of my code uses two kinds of side-effects: storage IO and network IO. If I can use a cross-platform protocol for base cases (if I don't need some specially tuned DB like Datomic or something with very critical performance, but rather something like a kv-store), I will be able to factor and reuse most of my code later on, no matter where it moves, e.g. A

[2017-01-02 13:16] whilo commented on #3
I close this issue for now, feel free to reopen it when you have questions or some ideas about a better API :).

[2017-01-02 13:16] #3 closed

[2017-01-02 13:27] danielsz commented on #3
Sure. I wanted to thank you for the explanation. This was very helpful.
I'll be happy to discuss this further after I gain more insights.

[2017-01-12 13:14] whilo commented on #3
Btw. feel free to write a system component for replikativ :).

[2017-01-12 13:44] danielsz commented on #3
I have, actually. ;-)
It's already listed among all the other components in the README, but it will be properly announced with the next release of `system`.

It's just a start it supports only the built-in stores for now.

https://github.com/danielsz/system/blob/master/src/system/components/konserve.clj

I believe it will be enhanced in time.

Besides that, I've started using replikativ in my prot

[2017-01-12 15:33] whilo commented on #2
This is solved with 0.4.8.

[2017-01-12 15:33] #2 closed

[2017-01-12 15:38] whilo commented on #3
Cool, I added a reference to the component to the README.

Yes, I would like to have an efficient persistent (snapshottable) sorted index implemented on top of konserve. I did a simple experiment here: https://github.com/replikativ/durable-persistence I also tried to port the hitchhiker tree https://github.com/datacrypt-project/hitchhiker-tree , but it is very tightly coupled to redis commands and

[2017-01-14 13:45] whilo commented on #3
Yes, it is impressive. Do you think it would be portable to konserve? Performancewise it will be bad, because all the inlined redis operations will have to become generic, but otherwise it could give a nice persistent datastructure for cljs as well.

[2017-01-14 13:48] whilo opened #4 "Persistent durable datastructures"
There is a desire to go beyond the append-log in konserve and provide an efficient index for different use cases. There is a quick prototype https://github.com/replikativ/durable-persistence, but in general https://github.com/datacrypt-project/hitchhiker-tree seems optimal from its IO ops performance. This issue is to track different requirements and thoughts for an implementation until it is prov

[2017-01-14 13:48] whilo commented on #3
I moved this discussion here: https://github.com/replikativ/konserve/issues/4

[2017-01-14 19:01] danielsz commented on #4
I suppose a low-hanging fruit is to implement a high-level protocol that would directly map the Outboard API (`ob/insert`, `ob/lookup`) with  Konserve's user API (`k/assoc-in`, `k/get-in`), but I'm not sure that's a good idea.

[2017-01-15 17:06] kordano opened #5 "Returns only nil on windows 10 system"
Currently testing on Windows 10 a simple fs-store using `[io.replikativ/konserve "0.4.6"]`:

[code]

[2017-01-15 17:18] whilo commented on #4
First of all the files in Tree are pure and there is a pure in-memory `TestingBackend`, so the redis stuff can be separated. Having a look at redis.clj there are also some functions which use lua in redis directly, but they don't seem to be used. So at least the functions from the tree folder with all the balancing logic should be portable. The problem without outboard is that it is modelling an i

[2017-01-15 17:48] whilo commented on #5
Can you inspect the files in the folder before and after the assoc-in? There should be exactly one file for the key `:a` containing the value `1` in fressian encoding, probably two bytes long or so. Also is there some error in the server-error buffer? konserve internally does not use the supervisor, so it can be used with plain `core.async`. Maybe some error slipped in there (but it shouldn't)?

[2017-01-15 23:56] whilo commented on #5
Also note that the current version is 0.4.8.

[2017-01-16 11:14] whilo commented on #5
Btw. is your path valid? On Windows you have to use a drive letter, I think. It is still a bug that konserve doesn't throw an error then.

[2017-01-19 01:43] danielsz opened #6 "Store traversal/retrieval"
I was wondering how to go about traversal and/or retrieval of the whole store (or part of it). Or listing all of the keys for inspection purposes.

Something like [lookup-fwd-iter](https://github.com/datacrypt-project/hitchhiker-tree/blob/55fcd65f40203b70162bcb2624f931d6b10955a1/src/hitchhiker/outboard.clj#L162), maybe.

Thank you in advance.

[2017-01-19 11:11] whilo commented on #6
As I understand, for this traversal it takes the children of the tree nodes and iterates them:
https://github.com/datacrypt-project/hitchhiker-tree/blob/55fcd65f40203b70162bcb2624f931d6b10955a1/src/hitchhiker/tree/messaging.clj#L217

If you want to enumerate the keys in a store, then there are different options. Not all stores implement a key iteration scheme (yet). For the file-store you can use:

[2017-01-20 00:38] danielsz commented on #6
Thank you, @whilo. I went for the suggested solution (accessing the underlying store), and it works for me.

[2017-02-26 11:54] #6 closed

[2017-02-26 12:09] danielsz opened #7 "custom Fressian handlers"
Hello @whilo ,

I was scratching my head regarding how to best de/serialize unknown types .

Trying to store a `org.joda.time.DateTime`, for example, will result in a Write error.

I am not clear to what extent the `Incognito` readers and writers are supposed to adapt automatically regarding unknown types.

I am also not clear how to pass along custom Fressian handlers and where the integration po

[2017-03-01 23:17] whilo commented on #7
`incognito` can adapt to Clojure types which `pr-str` to something readable. This is not the case for general Java objects like `org.joda.time.DateTime`. For this case you would provide an `incognito` write-handler to return a readable Clojure representation of it. I can provide an example handler code, I am just on holidays, but feel free to ping back if you have any troubles and I will help out.

[2017-04-08 04:02] lsenta opened #8 "Custom log ids"
konserve is pretty straightforward to use and to extend, thanks for sharing & maintaining it.

I use the `append` API a lot and it'd be more efficient for me to have ordering on the log ids.

From what I understand, it should be easy to pass a channel as a source of ids.
Because we `go-locked` on the current key, `append` operations can't be interleaved. append would preserve the order from the id

[2017-04-08 04:33] lsenta opened #9 "Add -assoc-in and multi-key updates"
I implemented a firebase store for konserve and the abstraction you provides is pretty handy: I can have multiple stores, memory, local, remote, etc and use whichever I need depending on my requirements.

But there are a few operations that I'd like to replace or implement:

- direct `assoc-in`:
  The `core/assoc-in` relies on `-update-in` which implies a costly network back & forth in remote
  ca

[2017-04-08 11:29] whilo commented on #8
I am not sure I understand what you are trying to do exactly, maybe I can clearify a few points from my side and we can figure something out together. First of all append could be part of a library on top of konserve, for me konserve just abstracts the bare minimum of durable IO that is necessary. Everything else should be implementable on top and it should be doable as a library against the konse

[2017-04-08 11:41] whilo commented on #9
Ok, we can reintroduce an -assoc-in protocol which can fall back to -update-in by default maybe... This is reasonable. I was a bit too minimalist there, I guess :)

Regarding multi-key. It is something in general that is on my radar, like having transactions over multiple keys in konserve in general. But I wouldn't built it directly in konserve and rather try to implement a transaction protocol on

[2017-04-08 11:45] whilo commented on #7
Has it worked out for you? I can provide an example if not. Incognito just provides protocols for all kind of different serialization protocols for Clojure, so they become pluggable.

[2017-04-08 11:58] danielsz commented on #7
Hi,

Thank you for following up on this. I haven't sweated much on this and moved on, but the moment you mention providing an example, I'm going all, like, yeah, that would be nice, thank you so much for the offer. That would definitely help shorten the path to Satori and bliss :-)

[2017-04-08 14:16] lsenta commented on #8
My use case is to store a WAL (among other things). I'd need to know whether a log has already been processed. I could build an index (more I/Os and more code) or simply use a custom function `(f key) -> id`. It's pretty common IMHO:
https://firebase.googleblog.com/2015/02/the-2120-ways-to-ensure-unique_68.html
https://engineering.instagram.com/sharding-ids-at-instagram-1cf5a71e5a5c

Hitchhiker tr

[2017-04-08 16:11] lsenta commented on #9
Thanks for the thoughtful responses, -assoc-in would be great :)

For the multi-update:
To be honest I assume the library provides consistency and atomicity if and only if there's a single instance of the store alive at a time. So the transaction can be dealt with locally (through the `go-locked`) and a "foreach k, v: (assoc k, v)" can be provided as a default. This would work for any backend.

[2017-04-08 16:49] lsenta commented on #9
My bad, I used atomic as in "other threads see a single operation". In the presence of failures looping doesn't hold.

[2017-04-09 13:18] whilo commented on #9
Ok, feel free to think in this direction though and build something on top if you like. Building reasonable cross-platform building blocks for databases is the main purpose of the replikativ stack (besides being useful early on). I can readd the -assoc-in protocol for you, if you like.

Do you have the firebase code somewhere? I think many ClojureScript frontend people would love to have it. I tal

[2017-04-09 17:57] whilo commented on #8
Ah, I think I might get what you are trying to do. Their id's behave like Datomic's squuid.  I have built the same in the replikativ streaming API recently, where you have a channel which sends you ack messages after values have been applied to the stream. https://github.com/replikativ/replikativ/blob/master/src/replikativ/crdt/cdvcs/realize.cljc#L172

You want to keep the log fixed and provide th

[2017-04-09 19:14] whilo commented on #9
I have added an `-assoc-in` protocol. You need to be aware that you need to deal with nesting as well, but maybe you can still short circuit if you just assoc the first key new (so you can safe the roundtrip then). Is this sufficient for you?

[2017-04-17 06:11] danielsz commented on #7
Hi @whilo,

Getting closer.

I have defined a fressian custom [handler](https://github.com/danielsz/maarschalk/blob/e6f70ded4de88d824dd77ecd53ae6aa37dd0a642/src/maarschalk/fressian.clj
) for JodaTime, and I have a passing [test](https://github.com/danielsz/maarschalk/blob/e6f70ded4de88d824dd77ecd53ae6aa37dd0a642/test/maarschalk/fressian_test.clj).

All I'm missing now is the way to hook it up in t

[2017-04-17 14:44] whilo commented on #7
Nice! I have some code partially working, but now I realize that this does not fit the incognito model of hijacking the map-type for Clojure, because the Joda DateTime is a totally custom type. In general I am not very happy with incognito, I just wrote it so that custom record types do not get lost on serialization. Is this a problem for you? Records will become plain maps otherwise. In a distrib

[2017-04-18 03:47] danielsz commented on #7
Thank you, @whilo, I got it working.

With the current state, I had to write my own instance of FressianSerializer, but I'm proposing a PR to allow passing custom handlers to the existing implementation.

[2017-05-05 10:10] lsenta commented on #9
It is, thanks a lot for providing this patch @whilo!
Let's close the ticket, I'll implement an unsafe multi-key update as an extension.

Firebase is structured as a giant json object. Which fits 1:1 the Clojure map model and konserve's. So nesting is super straightforward.

I've started to split my prototype into open source libraries, be warned it's not in a usable state yet, but if you have some

[2017-05-05 10:10] #9 closed

[2017-05-05 11:01] whilo commented on #9
This is great news! The code looks fine as far as I can judge on a quick look.

One issue is the custom firebase encoding. You probably want to use it and you properly throw if somebody tries to store an unsupported type as you do, but this part needs to be documented and a test should make sure that the error propagates properly through konserve, as it will probably happen often unintendedly. Thi

[2017-06-12 20:35] oahner commented on #5
I ran into this issue on Windows 8 as well and did some digging; looks like `File.renameTo` fails, leaving the store file's filename with a trailing '.new'. In the example above, if I manually rename the file before running `(<?? S (k/get-in store [:a]))`, it properly returns `1`.

[2017-06-12 20:59] whilo commented on #5
@oahner Thanks a lot. I have pushed a new version to master, can you try whether the `Files.move()` fix works?

[2017-06-12 21:21] oahner commented on #5
That was quick! Unfortunately no, `Files.move` is also unable to move an open file on Windows. Looks like the `File.close` call will need to happen first, but then we lose the last fsync.

Would closing, moving, re-opening, fsyncing and re-closing work? Or is the `ATOMIC_MOVE` flag on `Files/move` equivalent to fsync?

[2017-06-13 20:04] whilo commented on #5
Probably. I will try that hopefully at the weekend. The code should be straightforward to hack though, if you can spare some time ;).

[2017-06-14 19:01] oahner commented on #5
Well, I took a crack at it and, while the code is certainly straightforward, figuring out what APIs provide durability guarantees in a cross-platform way really is quite a headache.

As far as I can tell from the openjdk source, `Files.move` eventually calls `MoveFileEx` but there's no way to pass it the `MOVEFILE_WRITE_THROUGH` flag that would make it flush to disk before returning. I haven't fou

[2017-06-15 04:45] eslachance commented on #5
Would like to point out that I seem to be having precisely the same issue on Ubuntu Server 17.04
![key example](http://proof.evie-banned.me/qpqGvZ)

The `.new` extension is the same thing that happened on Windows 10 - if I rename the file and remove the .new, I can then use `exists` or `get-in`

[2017-06-15 08:42] whilo commented on #5
Yes, I haven't come to do the fsync properly for the directory yet, as you mention it is far from being clear what you need to do to properly ensure durability. Yes the filesystem rabbit hole is deep and I think they are a mess as an interface.

I have no experience with JNI yet and don't have a windows machine, but @kordano might be able to check. @oahner If you have ideas beyond file moving for

[2017-06-15 08:43] whilo commented on #5
@oahner And thanks for diving into this! I hope we can nail it down somehow.

[2017-06-17 19:42] eslachance commented on #5
Will add this back in in case it is actually relevant: I attempted to use this from a Ubuntu VM, which was accessing the Windows Host's drive through a mount. I thought that was clever, but I had exactly the same issue with the `.new` not being removed and `get-in` returning `nil`.

I'm unable to test an NTFS drive directly from Linux without being in a VM at the moment, so I'm not sure if this me

[2017-07-02 20:33] whilo commented on #5
@oahner @eslachance I have added fsync'ing for the directory and close the file before moving now. @kordano has verified that it works on Windows now and it is as `0.4.10` on clojars. Please point out any remaining issues. The file-store also does non-blocking reading now finally, so you also get more efficiency :).

[2017-07-13 23:15] whilo commented on #5
I'll close the issue for now. Please open a new one, if you are still affected!

[2017-07-13 23:15] #5 closed

[2017-08-22 21:01] whilo opened #11 "Pretty print stores"
Provide print-methods to not blow REPL outputs with all store internals (e.g. locks).

[2017-09-04 13:50] kordano opened #12 "exists? for binary data does not work"

[2017-10-05 15:42] #12 closed

[2017-10-05 15:43] whilo commented on #11
We have it on the JVM right now, but not yet for JS.

[2017-10-05 15:45] whilo commented on #8
@lsenta Have you managed to use append for your purpose?

[2017-10-05 15:47] whilo commented on #7
Thanks a lot, I have decide to merge it for now, as I don't see a simpler solution.

[2017-10-05 15:47] #7 closed

[2017-10-05 15:49] whilo commented on #4
Just to ping back here: The hitchhiker-tree has now konserve support in upstream: https://github.com/datacrypt-project/hitchhiker-tree We will continue to build on it. If you have any further remarks, feel free to reopen the issue.

[2017-10-05 15:49] #4 closed

[2017-10-08 11:21] danielsz commented on #4
Oh, I missed your commit upstream. I was watching that repo and must have despaired because it was so quiet for so long. That's really good news. I'll take a closer look when I have some time. Thank you!

[2017-10-09 01:38] whilo commented on #4
No problem. :)

[2017-12-06 14:45] FerdiKuehne opened #13 "nested folders error"
can't create nested folders

[2017-12-07 12:26] whilo commented on #13
Can you give a rough explanation of how to reproduce the bug and where you exactly try to nest something?

[2018-04-06 15:28] grischoun opened #16 "db corruption"
Using Konserve with indexeddb, instead of correctly computing a value I received an error and mistakenly saving the error instead of the value led to database corruption.

[2018-04-06 19:41] whilo commented on #16
Can you give more details on the error, e.g. the string that is saved in the DB?

[2018-04-07 10:02] grischoun commented on #16
Impossible to copy/string from Firefox db inspector but here is a screenshot illustrating the error:

![screen shot 2018-04-07 at 11 57 02](https://user-images.githubusercontent.com/11461/38453762-2f127830-3a5b-11e8-8d1f-3412755cbd18.png)

Here is what I expect when it is working well:

![screen shot 2018-04-07 at 12 01 03](https://user-images.githubusercontent.com/11461/38453783-755b7d5a-3a5b-11e

[2018-04-07 10:43] whilo commented on #16
Yes, perfect. In the first thing you have somehow written code to the store, but not konserve code, but some application JS. I don't think it is a konserve bug, but maybe you see a bug. I am not sure whether we can cover that, except with specing (which is a good idea).

[2018-04-22 10:28] shakdwipeea opened #17 "nested assoc and get behaviour expectations"
I tried the following actions:
[code]
I was expecting `(<!! (k/get-in store [:foo :baz]))` to return 40 instead of the entire map.

[2018-04-22 16:55] whilo commented on #17
This was slipping through when I added cache support for beta1. beta2 has fixed it now and there is a test covering it, thanks for reporting!

[2018-04-22 17:03] shakdwipeea commented on #17
Works as expected now. Thanks for looking into this.

[2018-04-22 17:03] #17 closed

[2018-07-08 09:45] MrOerni opened #18 "Always getting a closed channel with bget"
Hey, I am using the filestore backend (fsync on) and I am trying to store and retrieve files. My version is `[io.replikativ/konserve "0.5.0-beta3"]`.
The storing works, but the retrieving side not so much. Here my minimal example:
[code]

`bget` always returns `nil`, while `exists?` returns `true`. I can find the file in my filesystem.

[2018-07-08 20:02] whilo commented on #18
Hey, thanks for opening this issue. The idea of `bget` is to provide locked binary access to a value for the specified key. That means you should try:

[code]

Right now all data is in memory, so the go-block in there will not be blocked by synchronous IO. I am not sure yet how to provide an asynchronous buffered interface to the value as this does not seem to be popular on the JVM. It might be ne

[2018-07-09 08:54] MrOerni commented on #18
Thank you for your reply, I am a step closer to understanding this, but it doesn't feels right.

There is a callback but you *have* to return a channel in this callback function, with which you gain nothing, because it is always `nil`.

[code]
This will "work", but it will throw an exception, because in [filestore.clj#L234](https://github.com/replikativ/konserve/blob/master/src/konserve/filestore.

[2018-07-09 12:10] whilo commented on #18
Ok, I see were your confusion is. The point is that the protocol guarantees consistent read access inside of the go-block, but after `(go (>! c is))` is executed another writer could change the underlying value. It gives you an explicitly locked context. So the right thing to do is do all critical IO in the go block of the callback. Does this make sense?

[2018-07-09 19:41] MrOerni commented on #18
Yes! It does make sense!

If anyone ever want to send data with http-kit as their server, this is the way to go:
[code]

(Maybe you want to update the part in the README.md as well, as that started my initial confusion
`(<!! (k/bget store "banana" :input-stream))`)

[2018-07-09 20:19] whilo commented on #18
Thanks, yes I have updated the README. If there are any further issues, feel free to open another issue.

[2018-07-09 20:19] #18 closed

[2018-07-09 20:20] whilo commented on #16
I will close this for now. Feel free to reopen, if the issue pops up again.

[2018-07-09 20:20] #16 closed

[2018-07-17 18:10] whilo commented on #13
I will close that for now.

[2018-07-17 18:10] #13 closed

[2019-01-20 07:08] whilo opened #21 "CircleCI 2.0 support"
Update CI testing pipeline.

[2019-03-28 21:02] whilo opened #23 "GraalVM compilaton with konserve fails"
The multithreading code in core.async breaks image building on GraalVM.

https://gist.github.com/borkdude/54939c9afe4ec6b4f29a52d30b6fc328

[2019-07-17 12:33] MrEbbinghaus opened #24 "The API should have more clojure.core-like signatures"
I have a list of proposals to move the API closer to the clojure.core interface.

- [ ] There is no `get`, `assoc` and `update` function.
  - These should be trivial without touching any interface.
- [ ] The `update-in` function does not have the optional arguments for the function.
   - clojure.core: `(update-in m ks f & args)`
- [ ] `get-in` does not have an optional argument for a default value

[2019-07-23 21:33] whilo commented on #24
I am fine to extend the core namespace to provide these functions in `core.clj`. It would also make sense to provide ! (bang) versions for Clojure so that people do not need to work with core.async if they do not like to. Could you create a PR for that?

[2019-08-01 14:25] #24 closed

[2019-08-30 20:49] purrgrammer opened #26 "Support multiple keys in `dissoc`"
The key-value protocol's [dissoc method](https://github.com/replikativ/konserve/blob/master/src/konserve/protocols.cljc#L10) supports removing one key at a time. Clojure's [dissoc](https://clojuredocs.org/clojure.core/dissoc) supports removing several keys at once:

[code]

Would it make sense for `dissoc` in Konserve to accept multiple keys as well?

Note that deletions of multiple keys could be

[2019-08-31 02:04] whilo commented on #26
That sounds reasonable to me. How would you do the batching? It would be a breaking change if the channel would close before the IO operations have succeeded. Operations can run in parallel as long as:

1. Any arising error propagates as a value in the resulting channel.
2. The whole operation does not succeed before all batched operations have succeeded.

Note that the user of the konserve API ca

[2019-10-14 14:54] danielsz opened #28 "Hitchhiker-tree backed stores"
It seems that `Konserve` has the capability to create a store backed by a hitchhiker tree, a feature being put to good use by the `Datahike` project. However, Konserve doesn't seem to expose this in its store creation API. Would it be possible to lift up a level the calls to have a hitchhiker-tree backed store? Something that Konserve users might use directly? Thank you in advance.

[2019-10-16 12:44] danielsz commented on #28
Nice! Actually, I opened this ticket because I registered to the Scicloj meetup where Konrad presented Datahike, and I skimmed through the code here and there before the meeting. I don't really have a use case, it was a bit whimsical, let's say that `Kampbell` could use that functonality. `Kampbell` makes the asumption of a key-value store underneath, does that answer the indexing question?

[2019-10-16 22:13] whilo commented on #28
Yes, it does. If I would have more time I would write a blog post on how to build your own custom database when needed, but plugging together the hitchhiker-tree (or other index structures) on top of konserve with your frontend. I will close this issue for now, feel free to open specific questions of how to use the hitchhiker-tree for kampbell on the hh-tree repo.

[2019-10-16 22:13] #28 closed

[2019-10-16 22:30] danielsz commented on #28
That would be a fascinating blog post indeed. Alas, time is scarce. Thank you for sharing and helping and caring. I will open specific issues when/if relevant. In the meantime, cheers!

[2020-01-12 09:45] danielsz opened #30 "Exception with core.async 0.7.599"
Hi,

I started seeing an exception after upgrading to the latest `core.async`. Trail leads back to  https://github.com/replikativ/konserve/blob/4750a648f40862b51d196c16c45c3bb10b1eacb5/src/konserve/filestore.clj#L447 but I'm not sure what's going on.

[code]

[2020-01-12 12:55] whilo commented on #30
Hey Daniel. Thanks for reporting. Which konserve version and core.async version is this?

[2020-01-12 13:16] whilo commented on #30
It must be happening here: https://github.com/replikativ/konserve/blob/4750a648f40862b51d196c16c45c3bb10b1eacb5/src/konserve/filestore.clj#L483

Can you verify this, e.g. by creating a new empty store that does not trigger this branch?

[2020-01-14 19:34] whilo opened #31 "Implement garbage collection"
Implement a mark & sweep garbage collection that can be extended by different users. This requires tracking of write access times in metadata.

[2020-01-18 21:50] danielsz commented on #30
Hello Christian,

Took me some time to get to it, but I can now confirm that working with a new empty store does not trigger the error with `core.async 0.7.599`. Here is my [test](https://github.com/danielsz/kampbell/blob/master/test/kampbell/core_test.clj).

[2020-02-02 05:00] whilo commented on #30
@FerdiKuehne and I have tried to reproduce the bug today, but could not get the Kampbell test to do so. Can you maybe send a problematic store (that is throwing the error in the migration) in zip form to c.weilbach AT lambdaforge DOT io ? Maybe it is also related to the rest of your environment, e.g. the Java version.

[2020-03-29 00:22] kommen opened #32 "Unnecessary ClojureScript dependency?"
konserve seems to unnecessarily pull in ClojureScript as a dependency:

[code]

Originally reported here https://github.com/replikativ/datahike/issues/130

[2020-04-19 20:10] johnmcconnell opened #33 "What is the best practice for catching exceptions?"
Example use case:

[code]

Let's suppose your storage service is unavailable, an exception will be thrown one of the threads managed by the core.async thread pool.

I don't see how the existing API's will allow the application code to handle exceptions when interfacing with the key value store. Is there a best practice to handle this situation?

[2020-04-19 20:16] johnmcconnell commented on #33
Another example:
[code]
The snippet above will return `{:val nil}` due to the semantics of `core.async`

[2020-04-19 20:35] whilo commented on #33
We follow an extended complementary semantics of `go-try` and `<?`. We have a library around the error handling in `core.async` [1], but since there is no need to push it onto the users of `konserve`, you just need these two macros that properly handle the errors. `<?` needs to check for an exception and rethrow and `go-try` needs to catch and pass it along as a return value such that it does not

[2020-04-19 20:43] whilo commented on #33
The original concept has been introduced here:

https://swannodette.github.io/2013/08/31/asynchronous-error-handling

But we have needed to extend it to concurrent routines for our networking layer in `superv.async` and to be able to compile core.async away in the hitchhiker-tree for performance reasons:

https://github.com/replikativ/hitchhiker-tree/blob/master/src/hitchhiker/tree/utils/async.clj

[2020-04-19 20:51] johnmcconnell commented on #33
I'll check in a bit but I suspect the issue needs to be changed in the objects which are implementing: `PEDNAsyncKeyValueStore` protocol that or here: https://github.com/replikativ/konserve/blob/master/src/konserve/core.cljc#L102

[2020-04-19 20:53] whilo commented on #33
konserve should need no changes, otherwise it is a bug in an implementation (if an error is not properly thrown). It should always return an exception object and you need to use `<?` to properly rethrow exceptions when you take them from the channel.

[2020-04-19 20:56] johnmcconnell commented on #33
I'm in the middle of something so let me go through it, but my current understanding is that:
`<?` relies on the underlying functions/go-routines to catch any exception and add that exception to result channel. If those functions don't do that then `<?` will received a `nil` and return that.

[2020-04-19 20:57] whilo commented on #33
Yes, exactly. konserve should return all exceptions on the channel and not leak them anywhere else.

[2020-04-19 21:39] johnmcconnell commented on #33
Main `go-lock` will "pass through" either nil (if `~@code` does not handle exceptions correctly or the exception if `<?` semantics are respected.

https://github.com/replikativ/konserve/blob/master/src/konserve/core.cljc#L39

Similar to above: https://github.com/replikativ/konserve/blob/master/src/konserve/core.cljc#L108
will pass through any results of `-assoc-in` (in the example, above, the call

[2020-04-19 21:39] johnmcconnell commented on #33
Adding an example of catching an exception to the docs is probably a good idea

[2020-04-19 23:02] johnmcconnell commented on #33
I think we can close this issue or update the documentation to include an error handling example (or link): https://github.com/replikativ/konserve/issues/33#issuecomment-616221043

[2020-04-20 00:53] whilo commented on #33
Yes, it is necessary for the backend implementer to catch _all_ exceptions. The new version of the filestore will use the core.async primitives internally itself, which helps with that and increases readability. Ok, we need to add a section about error handling then.

[2020-06-18 11:50] kordano opened #34 "update dependencies"

[2020-07-27 14:10] TimoKramer commented on #21
I am taking this one over

[2020-08-05 21:24] #21 closed

[2020-09-20 01:00] whilo commented on #31
Done and released with `0.6.0-alpha1`.

[2020-09-20 01:00] #31 closed

[2020-09-20 01:02] whilo commented on #30
I have bumped the core.async dependencies with the latest release and I think it should work now. If not feel free to reopen.

[2020-09-20 01:02] #30 closed

[2020-09-20 01:04] whilo opened #40 "Remove reflection warnings"
With the latest alpha we get a bunch of reflection warnings in the datahike test suite. We should activate them in konserve and then remove them.

[2020-09-20 11:42] danielsz commented on #30
Sorry for not being responsive, it slipped my mind. Thank you!

[2020-09-23 20:16] alekcz commented on #40
@whilo @FerdiKuehne I've opened a pull request on encore [#51](https://github.com/ptaoussanis/encore/pull/51) as URL encoder and decoder reflections messages come from there.

[2020-09-24 00:03] alekcz commented on #40
@whilo @FerdiKuehne did a bunch of work adding type hints to remove reflection #42 . The last bits of reflection are in:
1. superv/async
[code]
2. In the filestore. The reflection in the file store is due to the go-try macro in `list-keys` rewriting the code. I've add all the hints necessary we just need to see how we can move the hinted parts out of the macro.
[code]
The other bits of reflection

[2021-05-21 17:33] Folcon opened #49 "Clojurescript warnings and dependency errors"
I'm currently running konserve version `0.6.0-SNAPSHOT`, I'm doing this because I can't get version `0.6.0-alpha3` working at all.

## `0.6.0-SNAPSHOT` warnings in REPL
I'm mentioning these because I don't know if they've been fixed in the `` version, note these don't prevent konserve from working, unlike the errors in the `0.6.0-alpha3` version errors:
[code]

The second one also creates this err

[2021-06-03 21:58] whilo opened #51 "Add CBOR serializer."
https://cbor.io/

[2021-06-03 22:04] whilo commented on #49
@Folcon Hey, sorry for coming back to you late. Yes, downgrading should hopefully work for now, but this issue needs to be fixed.

[2021-06-14 09:20] kordano opened #52 "Fix cljdoc build"
Currently docs on cljdoc are [failing](https://cljdoc.org/builds/43327) and should be fixed.

[2021-06-14 09:53] TimoKramer commented on #52
seems cljs-related. that's probably something we have to contact cljdoc about.

[2021-06-23 07:15] kordano opened #53 "extend binary header"

[2021-06-23 07:16] kordano opened #54 "add synchronous variant of all protocols"

[2021-06-23 07:16] kordano opened #55 "add compliance checks"

[2021-06-23 07:16] kordano opened #56 "refactor backends"

[2021-08-23 07:45] whilo opened #59 "Document layouts in backend implementation docs"

[2021-09-30 20:51] bwallinspire opened #60 "File descriptor leak in `keys` for filesystem store?"
OS: Linux version 5.11.4-1-rt11-MANJARO
Konserve: 0.6.0-alpha3
Clojure: 1.10.0-alpha6

With the included filesystem store backend, each call to `konserve.core/keys` seems to create multiple new file descriptors. E.g.:

[code]
Example output:
[code]
Seems to happen whether or not the store is new/empty or not, and all the duplicate file descriptors point to "/tmp/test-store".

Is this a valid way t

[2021-10-01 06:46] whilo commented on #60
Hey @bwallinspire. Yes, this is a correct use. You did not include your `pid` namespace. Could you check whether you can reproduce the problem on the pending feature branch https://github.com/replikativ/konserve/pull/57 with both synchronous and asynchronous protocol variants?

Meaning `(k/keys store {:sync? true})` and `(<!! (k/keys store {:sync? false}))`. The latter is still the default behavio

[2021-10-01 06:46] #23 closed

[2021-10-01 19:12] bwallinspire commented on #60
Thanks for the quick response @whilo! `clj-pid` was a dependency used just to get the process id to check open file-descriptors: [clj-pid 0.1.2](https://github.com/dsabanin/clj-pid). There is probably a better/platform-independent way -- I am pretty new to Java/Clojure-land hence my limited insights here.

 On #57, it seems the problem still does reproduce for both asynchronous and synchronous var

[2021-10-02 01:09] whilo commented on #60
Thanks for reporting! I fixed it in the PR directly. Is `rt11` a realtime Linux kernel version?

[2021-10-02 01:09] #60 closed

[2021-10-03 22:19] bwallinspire commented on #60
Great! Do you have an estimate for when #57 is merged and released?

Yes, realtime kernel -- I have been playing around with some live audio processing :)

[2021-10-04 18:38] whilo commented on #60
It is merged now, you should be able to use it as `0.6.0-SNAPSHOT` already, but our other backends are not yet ported. So for now you can use the filestore and memory store on the JVM.

[2021-10-11 14:23] jsmassa opened #61 "Usage examples from README.md not working"
Tried for `{:sync true}`, multiple problems occur, e.g. wrong usage of `new-fs-store`.

[2021-10-12 13:05] jsmassa opened #62 "File store configuration detect-old-file-schema fails on missing directory"

[2021-10-14 07:24] kordano opened #63 "add SNAPSHOT deployment CI"

[2021-11-28 00:15] pmspire opened #67 "java.nio.file.NoSuchFileException due to .nfs* files?"
I am using `fs-store` on an NFS volume, and am getting (partial) stacktraces similar to
[code]
In `filestore.clj`, it looks like `list-files` does no filtering, unlike for example `count-konserve-keys`, which filters for `.ksv` files. I wonder if `list-files` may be seeing temporary `.nfs*` files (in case you're not familiar: http://nfs.sourceforge.net/#faq_d2) that, by the time they are later ref

[2021-11-30 19:38] whilo commented on #67
Hey @pmspire, thanks for reporting! Yes that makes sense. Can you open a PR that fixes the issue for you? I will make sure it is merged quickly.

[2021-12-03 23:56] pmspire commented on #67
Will do ASAP, thats @whilo .

[2021-12-04 18:37] pmspire commented on #67
I have a provisional fix, but am so far unable to test it, because

1. I am still getting the `CompilerException` mentioned above, which I do not understand because `key-vec` is `let`-bound on the previous line. I tried replacing `key-vec` with `nil` in the problematic expression, but then get
2. `clojure.lang.Compiler$CompilerException: java.lang.IllegalAccessError: new-fs-store does not exist`,

[2021-12-06 06:43] whilo commented on #67
Sure, feel free to open a PR, I just don't have nfs around atm.

[2022-01-24 18:33] kordano opened #69 "move to new release cycle"
With the new release strategy on Datahike, we also need a rolling release on konserve.

@jsmassa What issues are still open with the creation of the new `main` branch out of `develop`and the integration of the `master` branch?

@whilo What parts of the `master` branch are necessary for a release?

[2022-01-25 16:09] jsmassa commented on #69
1) The `main` branch has been created and is only missing the **new CI pipeline**. I have consciously refrained from doing that just yet to not produce releases before the branch is ready.
2) Since the **master** branch has commits that are not in the development branch, I do not know if there is something in there we should keep.
3) There were problems that occurred while checking the tests:
- `.

[2022-01-28 11:35] RokLenarcic commented on #69
CLJS is broken and any app attempting to use this version of Konserve will be met with:
[code]

[2022-01-28 11:50] TimoKramer commented on #63
closing in favor of #69

[2022-01-28 11:50] #63 closed

[2022-01-28 11:51] TimoKramer commented on #69
@RokLenarcic can you please open a new issue with your problem, this does not really fit this one. And we will need a bit more information on your problem as well, especially which version you are using.

[2022-01-28 14:41] RokLenarcic opened #70 "CLJS builds don't work"
When compiling CLJS with konserve version 0.6.0-alpha3, you'll get this error:
[code]

Seems like project is using fressian and it's not available in CLJS

[2022-01-30 18:29] awb99 commented on #6
How do I traverse all keys of say the filesystem store? Is there a femo somewhere how to setup a filesystem store so one has access to all the functions of this namespace?

[2022-01-30 18:38] awb99 opened #71 "Example how to setup custom serializers"
The 'weak' point in clojure is that edn and transit encoding do not bring a lot of default serializers.

Example: date and uuid are not serializable by default, nor are records.

So I think it is essential to Be able to configure serializers for edn and transit in konserve. Could you add a little demo on this? It would also be enough to just add the key that needs to be passed on store initializat

[2022-02-04 22:41] awb99 opened #72 "Performance update-in"
I have seen a lot of examples using k/assoc-in

Now I like the benefit of this. I can store different types of data with (k/assoc-in [:bar 1] 15) and (k/assoc-in [:bar 2] 100)

Wirh (k/get [:bar]) I then can get both 15 and 100.
Its an easy way to track lists of different types.

Now the values 15 and 100 in practice would be quite big datastructures. And now my question is if every update-in will

[2022-02-14 08:35] jsmassa commented on #69
Update:
1. Still has to be done. Probably easiest later to look at [incognito](https://github.com/replikativ/incognito) later for this.
2. I have looked at the commits from master now and cherry-picked or redone everything that was changed in code, which was to add type hints.
3. As soon as the [incognito issue](https://github.com/replikativ/incognito/issues/10) is fixed, we can update the depende

[2022-02-14 09:38] kordano commented on #69
Ok, and where possible please update the build tools in your new [main branch](https://github.com/replikativ/konserve/tree/main) so we would have a consistent tooling around that. As discussed with @TimoKramer we would move everything to a build file like in my upcoming [incognito](https://github.com/replikativ/incognito/blob/migrate-release-cycle/build.clj) release.

[2022-02-26 21:49] awb99 opened #74 "batch to store multiple key/value pairs."
I tried to have this answered in the datahike slack chat, but nobody did know an answer.
I want to store 5000 values, each with a specific key in the konserve store.
From the documentation I am not able to determine how this works.
Currently I call (save [:invoice n] invoice-n) 5000 times. And this takes 30 minutes or so.
This is my save function:
[code]
How would I do it if I want to have konserv

[2022-03-29 08:45] #69 closed

[2022-07-23 18:02] awb99 opened #77 "memory usage problem"
I am storing 2500 items via konserve:
[code]

I call (store-xero-contats-konserve customers) to save 2500 contacts
(each a map with customer contact information). The customers seq
when spit as edn to a file is 2.5 MB.

I am getting out of memory exceptions when I do this.
I tried to get it to work by setting  :jvm-opts ["-Xmx32g"]
This hack worked for the 2500 contacts. Then I did try to do the s

[2022-08-24 08:35] whilo commented on #77
Hey, I am sorry to hear that you have this memory issue. Do you use konserve with or without caching and which store backend do you use? Versions would also be good to know.

[2022-08-24 08:38] whilo commented on #74
Konserve does not have a batch processing framework yet, e.g. map-reduce. Mostly it is used as a low-level storage layer interface for simple needs. Whenever you need to do selective but large update operations on its values or sophisticated queries it is beneficial to use Datahike or another index based data management solution, e.g. by rolling your own hitchhiker-tree or persistent sorted set in

[2022-10-20 08:42] whilo opened #78 "Fix native-image compilation"
`alength` in `update-blob` throws an exception under native compilation.

[2022-11-03 20:50] #78 closed

[2022-11-03 20:52] whilo opened #82 "Detect and handle header version of 0.6.0-alpha"
During 0.6.0-alpha we used an 8 byte header instead of 20 bytes. This version is currently not readable, which would be nice.

[2022-11-13 18:46] whilo commented on #82
Fixed with #83.

[2022-11-13 18:46] #82 closed

[2022-11-13 18:47] whilo opened #85 "Type mismatch in spin lock."
`Thread/sleep` expects `Long` and not `Integer` as argument.

[2022-11-14 02:20] whilo commented on #70
I think cljs support should be recovered now thanks to @pkpkpk. If not please reopen the issue.

[2022-11-14 02:20] #70 closed

[2022-11-14 02:21] whilo commented on #67
Should be closed with the PR.

[2022-11-14 02:21] #67 closed

[2022-11-14 21:14] #61 closed, assigned to nobody

[2022-11-14 21:23] jsmassa commented on #34
Done with #81

[2022-11-14 21:23] #34 closed

[2022-11-14 21:26] jsmassa commented on #54
Done with PR #57

[2022-11-14 21:26] #54 closed